@mixin button {
  width: 230px;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7f7f7f;
  border: 2px solid #7f7f7f;
  cursor: pointer;
}
