.getting {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 41px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 54px;
    padding-right: 54px;

    background-image: url("../images/getting-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/getting-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 78px;

    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 268px;
    padding-right: 265px;

    background-image: url("../images/getting-bg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/getting-bg@2x.jpg");
    }
  }
}

.getting__wrapper {
  @include container;

  @media (min-width: $tablet) {
    min-width: 720px;
    box-sizing: border-box;  

    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 57px;
    padding-right: 57px;

    box-shadow: 0px 20px 40px rgba(61, 65, 84, 0.15);
    border-radius: 5px;
    background-color: $lighten;
  }

  @media (min-width: $desktop) {
    width: 1170px;

    padding-top: 38px;
    padding-bottom: 82px;
    padding-left: 75px;
    padding-right: 58px;
  }
}

.getting__heading {
  @include h2(28px, 1, $blue, 20px);

  @media (min-width: $desktop) {
    margin-bottom: 34px;
  }
}

.getting__list {
  @include list;

  @media (min-width: $tablet) {
    @include flex;

    align-items: flex-start;
  }
}

.getting__item {
  @include flex(flex-start);

  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    width: 50%;
  }
}

.getting__icon {
  min-width: 10px;
  margin-top: 7px;
  margin-right: 14px;

  @media (min-width: $tablet) {
    min-width: 11px;
    height: 8px;
  }

  @media (min-width: $desktop) {
    min-width: 15px;
    height: 10px;
  }
}

.getting__text {
  @include text;

  margin-bottom: 0;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}
