.special,
.special > li,
.special > p {
  background-color: rgba($red-2, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.160553);
  box-shadow: 0px 24px 48px rgba(33, 12, 56, 0.155486);
  border-radius: 8px;
}
