.stats {
  width: 100%;
  border-collapse: collapse;

  // &--factors {
  // }

  @media (min-width: $tablet) {

  }

  @media (min-width: $desktop) {

  }
}

.stats__head {
  display: block;
  margin-bottom: 4px;
  border-radius: 3px;

  @media (min-width: $desktop) {
    border: 1px solid $pink-4;
  }
}

.stats__row {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  margin-bottom: 8px;

  background-color:  $lighten;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);

  &:nth-child(2n):not(&--special) {
    background-color: $gray;
  }

  &--head {
    min-height: 72px;
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 18px;

    color: $lighten;
    background-color: $red;
    box-shadow: 1.5px 2.6px 10px rgba(119, 119, 119, 0.1);
  }

  &--special {
    border: 1px solid rgba(255, 255, 255, 0.160553);
    border-radius: 2px;
    box-shadow: 0px 5px 5px rgba(33, 12, 56, 0.05);
    background-color: rgba($red-2, 0.2);

    .stats__ceil {
      font-weight: 900;
      color: $red;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    min-height: 32px;

    &--head {
      min-height: 60px;
      padding-top: 8px;
      padding-bottom: 14px;
    }
  }

  @media (min-width: $desktop) {
    min-height: 45px;

    &--head {
      min-height: 86px;
      padding-top: 11px;
      padding-top: 14px;

      background-color: $red-3;
    }
  }
}

.stats__ceil {
  @include text(0.9, $blue-2, 20px, 14px);

  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 9px;
  text-align: center;

  &:first-child {
    width: 150%;
    margin-left: 22px;
    text-align: left;
  }

  &--head:first-child {
    margin-left: 19px;
    text-align: center;
  }

  &--head {
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
    color: $lighten;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: rgba($red-2, 0.9);
    box-shadow: 0px 23.6634px 47.3267px rgba(33, 12, 56, 0.155486)
  }

  @media (min-width: $tablet) {
    min-height: 10px;

    &--head {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 27px;

    // &--head {

    // }
  }
}
